* {
  margin: 0;
}

body {
  font-size: 30px;
  background-color: bisque;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  background-color: salmon;
  height: 100px;
  flex-shrink: 0;
}

footer {
  background-color: salmon;
  height: 100px;
  flex-shrink: 0;
}

.content-body {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.left-content {
  background-color: olivedrab;
  flex: 1 1 200px;
  border: 1px solid black;
}

.center-content {
  background-color: orange;
  flex: 2 2 0;
  border: 1px solid black;
}

.right-content {
  flex: 1 1 200px;
  background-color: olivedrab;
  border: 1px solid black;
}
